<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="magna.VLTGen3">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="magna.vlt.ui.perspectives.user.UserPerspective"
            icon="images/u.png"
            id="magna.vlt.ui.AuthPerspective.UserPerspective"
            name="Users">
      </perspective>
      <perspective
            class="magna.vlt.ui.perspectives.project.ProjectPerspective"
            icon="images/p.png"
            id="magna.vlt.ui.project.ProjectPerspective"
            name="Project">
      </perspective>
      <perspective
            class="magna.vlt.ui.perspectives.review.ReviewPerspective"
            icon="images/b.png"
            id="magna.vlt.ui.perspectives.review.ReviewPerspective"
            name="Dashboard">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="magna.vlt.ui.perspectives.user.UserManagerView"
            icon="images/usermanager.png"
            id="magna.vlt.ui.AuthPerspective.AuthView"
            name="User Manager"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="magna.vlt.ui.perspectives.database.SQLUploadView"
            icon="images/db.png"
            id="magna.vlt.ui.AuthPerspective.SQLUploadView"
            name="SQL Uploader"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="magna.vlt.ui.perspectives.project.ProjectManager"
            icon="images/projectmanager.png"
            id="magna.vlt.ui.project.ProjectManager"
            name="Project Manager"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="magna.vlt.ui.perspectives.project.ProjectViewer"
            icon="images/magnify.png"
            id="magna.vlt.ui.project.ProjectViewer"
            name="Project Viewer"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="magna.vlt.ui.perspectives.project.FeatureTreeViewer"
            icon="images/projecttree.jpg"
            id="magna.vlt.ui.perspectives.project.FeatureTreeViewer"
            name="Feature Tree Viewer"
            restorable="true">
      </view>
      <view
            class="magna.vlt.ui.perspectives.review.DashBoardViewer"
            icon="images/dashboad.png"
            id="magna.vlt.ui.perspectives.review.DashBoardViewer"
            name="Dashboard"
            restorable="true">
      </view>
      <view
            class="magna.vlt.ui.perspectives.user.UserHistoryView"
            icon="images/log.jpg"
            id="magna.vlt.ui.perspectives.user.UserHistory"
            name="User Log Viewer"
            restorable="true">
      </view>
      <view
            class="magna.vlt.ui.perspectives.user.UserListView"
            icon="images/usertree.jpg"
            id="magna.vlt.ui.perspectives.user.UserListView"
            name="User List"
            restorable="true">
      </view>
      <view
            class="magna.vlt.ui.perspectives.review.ExplorerView"
            id="magna.vlt.ui.perspectives.review.ExplorerView"
            name="Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="magna.vlt.ui.AuthPerspective.UserPerspective">
         <view
               id="magna.vlt.ui.AuthPerspective.AuthView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="magna.vlt.ui.perspectives.user.UserHistory"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="magna.vlt.ui.perspectives.user.UserListView"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="magna.vlt.ui.project.ProjectPerspective">
         <view
               id="magna.vlt.ui.project.ProjectManager"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="magna.vlt.ui.project.ProjectViewer"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="magna.vlt.ui.perspectives.project.FeatureTreeViewer"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="magna.vlt.ui.perspectives.review.ReviewPerspective">
         <view
               id="magna.vlt.ui.perspectives.review.DashBoardViewer"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="VideoLoggingTool.view1"
               minimized="false"
               relationship="stack">
         </view>
         <view
               id="magna.vlt.ui.perspectives.review.ExplorerView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="VLTManager"
         point="org.eclipse.core.runtime.products">
      <product
            application="VLTManager.application"
            name="VLTManage">
         <property
               name="appName"
               value="VLTManage">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="test">
         </property>
      </product>
   </extension>
</plugin>
